---
import Base from "../layouts/Base.astro";
import Block from "../components/Block.astro";
import Intro from "../components/Intro.astro";
import Project from "../components/Work.astro";

const pageDesc = "work";
---

<Base title="scort / work" description={pageDesc}>

    <Intro page="/ work" title={pageDesc}>
        a bunch of stuff i've made, all varying in scopes and sizes
    </Intro>

    <Block title="Overwatch Workshop" class="grid gap-4 md:grid-cols-2" headerColor="blue" collapsible={true}>
        <span class="col-span-full">
            All scripts were built with <a href="https://github.com/ItsDeltin/Overwatch-Script-To-Workshop" target="_blank">OSTW</a><br>
            Compiling requires my personal <a href="https://github.com/scorttt/macros-ostw" target="_blank">macros</a>, a collection of shorthand and quality-of-life functions to make OSTW development less of a hassle
        </span>
        <Project
            title="Yet Another Tryhard FFA"
            date="November 2020 - February 2026"
            links={[
                { url: 'https://github.com/scorttt/yatffa-ostw', icon: 'simple-icons:github', label: 'GitHub' },
                { url: 'https://workshop.codes/BKRXY', icon: 'lucide:wrench', label: 'workshop.codes' },
            ]}
        >
            Rebalanced FFA gamemode, intended for competitive players to include in their warm-up or practice regimen. 
            <br>
            Colloquially known as 'YATFFA' and was the preferred 'Tryhard FFA' gamemode for competitive players during its peak.
            <br></br>
            <li>Dynamic statistics</li>
            <li>Favorites, to quickly toggle a frequently used option without opening the menu</li>
            <li>In-game cursor menu to allow individual players to customize their experience</li>
            <li>Custom localization, with Japanese and Korean translations available</li>
            <li>Choice between heal on kill, or healing pickups</li>
            <li>Automatic AFK tagging, eventually kicking the player if they remain inactive for too long</li>
            <li>Map railings destroyed on round start</li>
            <li>Slew of Workshop Settings for lobby host customization</li>
            <br>
            Updates occur whenever new heroes are added to the game and that I believe would fit well within the gamemode.
        </Project>
        <Project
            title="Instagib" 
            date="October 2020 - September 2025"
            links={[
                { url: 'https://github.com/scorttt/instagib-ostw', icon: 'simple-icons:github', label: 'GitHub' },
                { url: 'https://workshop.codes/APPPX', icon: 'lucide:wrench', label: 'workshop.codes - Oct 2020 ver.' },
            ]}
        >
            Fast paced Xonotic / Quake 3 Arena / UT2004 inspired one-shot-one-kill gamemode with a pickup centric gameplay loop.<br>
            A personal pet project that I've used to learn and practice vector math.<br></br>
            
            Pickups are scattered throughout the map to change how your weapon fires:
            <ul>
                <li>Pierce - Shots go through multiple surfaces</li>
                <li>Ricochet - Shots bounce off of surfaces</li>
                <li>Spread - Shots spread out in a cone pattern</li>
                <li>Spark - Explosive shots, with an explosive projectile that can be detonated early by shooting it for an increased radius</li>
                <li>Electro - Explosive shots, with a bouncing projectile that explodes shortly after hitting a surface</li>
                <li>Needle - Rapid fire homing shots with spread expanding over time</li>
                <li>Volt - Laser decreasing in accuracy and range over time</li>
                <li>Arc - Consistent laser that bounces off of surfaces several times</li>
                <li>Ballista - Large radius explosive shot that ignores all surfaces</li>
            </ul>
            <br>

            Additionally, a large variety of movement options are always readily available:
            <ul>
                <li>Bunnyhopping for the potential to gain absurd speeds</li>
                <li>Knockback projectile for disorienting players or for mobility usage</li>
                <li>Unreal Tournament-like Dodging</li>
                <li>Brief vertical flight</li>
                <li>Linear horizontal flight to maintain speed</li>
            </ul>
            <br>
            Eventually, I want to evolve this into it's own independent project, completely detached from Overwatch Workshop.
        </Project>
        <Project
            title="Molotov with Physics"
            date="April 2021"
            links={[
                { url: 'https://github.com/scorttt/workshop-scripts/blob/main/molotov.del', icon: 'simple-icons:github', label: 'GitHub' },
                { url: 'https://workshop.codes/PAVX2', icon: 'lucide:wrench', label: 'workshop.codes' },
            ]}
        >
            Proof of concept custom projectile that does not use the built-in 'Create Projectile' function introduced to Overwatch Workshop in late 2023, nor in-engine physics.
        </Project>
        <Project
            title="Waving Cube" 
            date="March 2023"
            links={[
                { url: 'https://github.com/scorttt/workshop-scripts/blob/main/waving.del', icon: 'simple-icons:github', label: 'GitHub' },
                { url: 'https://workshop.codes/C6GD9', icon: 'lucide:wrench', label: 'workshop.codes' },
            ]}
        >
            Simple waving cube visualization.
        </Project>
        <Project
            title="Swiss" 
            date="July 2023"
            links={[{ url: 'https://github.com/scorttt/swiss-ostw', icon: 'simple-icons:github', label: 'GitHub' }]}
        >
            Unfinished in-game bot replay editor with only the custom scrubbing timeline UI completed. Originally conceived to assist the Los Angeles Gladiators' social media team in creating short-form content, 
            prior to the firing of all creatives and eventual dissolution of the parent organization in October 2023.
        </Project>
        <Project
            title="Mimic" 
            date="February 2020 - February 2024"
            links={[{ url: 'https://github.com/scorttt/mimic-ostw', icon: 'simple-icons:github', label: 'GitHub' }]}
        >
            1v1, 2v2, or 3v3 mode where many bots spawn to fight by your side and mimics every action that you do. Bot amount changes dynamically based on the amount of human players in the game.
        </Project>
        <Project
            title="Miscellaneous Scripts" 
            date="2019 - 2023"
            links={[{ url: 'https://github.com/scorttt/workshop-scripts', icon: 'simple-icons:github', label: 'GitHub' }]}
        >
            Random variety of scripts that didn't end up being their own independent project for whatever reason, whether it be them evolving into larger projects, an experimental snippet, or just practice.
        </Project>
    </Block>

    <Block title="Miscellaneous" class="grid gap-4 md:grid-cols-2" headerColor="blue" collapsible={true}>
        <Project 
            title="osu! Skin" 
            date="2025" 
            tags="Inkscape, Photoshop"
            links={[
                { url: '404', icon: 'lucide:download', label: 'Download (.osk)' }
            ]}
        >
            Edit of "(SK) Mathi DT" with a focus on maximizing tech readability and using osu!lazer's modern design philosophy.
        </Project>
        <Project 
            title="scort.cc v2" 
            date="February 2026" 
            tags="HTML, CSS, JavaScript, Tailwind, Astro"
        >
            You are here! Redesign of my personal website since I wasn't really happy with how simple the first website was.
            I want to treat this as a medium to showcase things I've made, and as a bonus it made me learn a bit about Astro and JavaScript.
        </Project>
        <Project 
            title="scort.cc v1" 
            date="October 2024 - November 2025" 
            tags="HTML, CSS, JavaScript"
            links={[{ url: '/v1/index.html', icon: 'lucide:square-arrow-out-up-right', label: 'Visit v1 site' }]}
        >
            Initial website, very barebones, essentially just a glorified link tree, and doesn't even work properly on mobile; but at least it has a cat :3
        </Project>
        <div class="col-span-full">
            <Block title="Mirror's Edge Catalyst Mods" class="grid gap-4 md:grid-cols-2" collapsible={true} defCollapsed={true}>
                <span class="col-span-full">Requires <a href="https://github.com/CadeEvs/FrostyToolsuite/releases" target="_blank">Frosty Mod Manager</a></span>
                <Project
                    title="No Naturally Spawning K-Sec" 
                    date="February 2018"
                    links={[{ url: 'https://www.nexusmods.com/mirrorsedgecatalyst/mods/93', icon: 'simple-icons:nexusmods', label: 'Nexus' }]}
                >
                    Removes enemy patrols in freeroam. Required mod for 'All Dashes No TP (ADNTP)' speedruns.
                </Project>
                <Project
                    title="Lighting Overhaul for Better Skies" 
                    date="August 2017"
                    links={[{ url: 'https://www.nexusmods.com/mirrorsedgecatalyst/mods/77', icon: 'simple-icons:nexusmods', label: 'Nexus' }]}
                >
                    Drastically modifies world lighting, and allows moonlight to cast shadows.
                </Project>
                <Project
                    title="Takedowns in Freeroam" 
                    date="July 2017"
                    links={[{ url: 'https://www.nexusmods.com/mirrorsedgecatalyst/mods/44', icon: 'simple-icons:nexusmods', label: 'Nexus' }]}
                >
                    Allows takedown interactions in freeroam.
                </Project>
                <Project
                    title="Repaired Buildings" 
                    date="July 2017"
                    links={[{ url: 'https://www.nexusmods.com/mirrorsedgecatalyst/mods/63', icon: 'simple-icons:nexusmods', label: 'Nexus' }]}
                >
                    Repairs any story related buildings in freeroam if they're broken due to story progression.
                </Project>
                <Project
                    title="No Dirty Walls"
                    date="July 2017"
                    links={[{ url: 'https://www.nexusmods.com/mirrorsedgecatalyst/mods/54', icon: 'simple-icons:nexusmods', label: 'Nexus' }]}
                >
                    Removes dirty footprints, slide marks, dirt, and grime in the world.
                </Project>
                <Project
                    title="No CC on Knockout"
                    date="June 2017"
                    links={[{ url: 'https://www.nexusmods.com/mirrorsedgecatalyst/mods/42', icon: 'simple-icons:nexusmods', label: 'Nexus' }]}
                >
                    Removes color correction flash on enemy knockouts.
                </Project>
            </Block>
        </div>
    </Block>

</Base>

<style>
    a {
        color: var(--accent-blue);
        font-weight: bold;
    }
    
    a:hover {
        text-decoration-line: underline;
    }
    
    /* todo: dont do this */
    span {
        font-size: 0.9rem;
        color: var(--text-secondary);
    }
    
    ul {
        list-style: none;
        padding-left: 1.2rem;
    }
    
    li {
        display: flex;
        list-style: none;
        position: relative;
        padding-left: 0.9rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    
    li::before {
        content: '•';
        position: absolute;
        left: 0;
        top: -1px;
    }
</style>
