---
import Base from "../layouts/Base.astro";
import Block from "../components/Block.astro";
import Intro from "../components/Intro.astro";
import Project from "../components/Work.astro";

const pageDesc = "work";
---

<Base title="scort / work" description={pageDesc}>

    <Intro page="/ work" title={pageDesc}>
        a bunch of stuff i've made, all varying in scopes and sizes
    </Intro>

    <Block title="Godot" class="grid gap-4 md:grid-cols-2" headerColor="blue" collapsible={true}>
        <Project title="Project" date="TBD">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </Project>
        <Project title="Project" date="TBD">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </Project>
        <div class="col-span-full">
            <Block title="20 Games Challenge" class="grid gap-4 md:grid-cols-2" collapsible={true} defCollapsed={false}>
                <span class="col-span-full">
                    Projects created for the <a href="https://20_games_challenge.gitlab.io/challenge/" target="_blank">20 Games Challenge</a> to learn a new and different creative technical medium after 
                    years of disappointment with Overwatch Workshop being neglected and broken. <br></br>
                    The end goal of each game is to not only get a better grasp with the engine, but to also recreate the game in their original art style - with some creative liberties taken.<br></br>
                    <li>No web builds for C# projects since Godot does not support web builds for C# projects.</li>
                    <li>No macOS builds are available since I don't own any Apple devices and Apple makes macOS builds unnecessarily annoying anyways.</li>
                    <br>
                    You may notice that there are a lot less than 20 games, despite the name of the challenge - I just don't care about or hold any prolonged interest in these games.
                </span>
                <Project
                    title="Tetris"
                    date="TBD - C#"
                    links={[
                        { url: 'https://github.com/scorttt/godot-tetris-cs', icon: 'simple-icons:github', label: 'GitHub' },
                        {
                            icon: 'lucide:download',
                            label: 'Download',
                            submenu: [
                                { url: '/games/tetris/tetris.exe', icon: 'mingcute:windows-fill', label: 'Download for Windows (.exe)' },
                                { url: '/games/tetris/tetris.x86_64', icon: 'mingcute:linux-line', label: 'Download for Linux (.x86_64)' },
                            ]
                        }
                    ]}
                >
                    Not a part of the main 20 Games Challenge but figured it was a great fit. Main goal of this project was to learn how to transition away from GDScript to C# since I'm personally not a fan of
                    GDScript's syntax.
                </Project>
                <Project 
                    title="Breakout" 
                    date="TBD - GDScript"
                    links={[
                        { url: 'https://github.com/scorttt/godot-flappybird', icon: 'simple-icons:github', label: 'GitHub' },
                        {
                            icon: 'lucide:download',
                            label: 'Download',
                            submenu: [
                                { url: '/games/breakout/breakout.exe', icon: 'mingcute:windows-fill', label: 'Download for Windows (.exe)' },
                                { url: '/games/breakout/breakout.x86_64', icon: 'mingcute:linux-line', label: 'Download for Linux (.x86_64)' },
                            ]
                        }
                    ]}
                >
                    Similar to Pong, but with much more content, with powerups and multiple levels.
                    <li>Learned level design, scene transitions, and randomized gameplay elements.</li>
                </Project>
                <Project
                    title="Flappy Bird"
                    date="March 2025 - GDScript"
                    links={[
                        { url: 'https://github.com/scorttt/godot-flappybird', icon: 'simple-icons:github', label: 'GitHub' },
                        { url: '/games/flappybird/flappybird.html', icon: 'lucide:play', label: 'Play in Browser' },
                        {
                            icon: 'lucide:download',
                            label: 'Download',
                            submenu: [
                                { url: '/games/flappybird/flappybird.exe', icon: 'mingcute:windows-fill', label: 'Download for Windows (.exe)' },
                                { url: '/games/flappybird/flappybird.x86_64', icon: 'mingcute:linux-line', label: 'Download for Linux (.x86_64)' },
                            ]
                        }
                    ]}
                >
                    Flappy Bird clone with some modified assets. Includes a complete UI and basic saving.
                    <li>Learned UI implementation, array usage, asset repetition, parallax, saved games, settings, and basic audio mixing.</li>
                </Project>
                <Project
                    title="Pong"
                    date="March 2025 - GDScript"
                    image="/games/pong/screenshot.jpg"
                    links={[
                        { url: 'https://github.com/scorttt/godot-pong', icon: 'simple-icons:github', label: 'GitHub' },
                        { url: '/games/pong/pong.html', icon: 'lucide:play', label: 'Play in Browser' },
                        {
                            icon: 'lucide:download',
                            label: 'Download',
                            submenu: [
                                { url: '/games/pong/pong.exe', icon: 'mingcute:windows-fill', label: 'Download for Windows (.exe)' },
                                { url: '/games/pong/pong.x86_64', icon: 'mingcute:linux-line', label: 'Download for Linux (.x86_64)' },
                            ]
                        }
                    ]}
                >
                    Simple endless pong game with an automated opponent.
                    <li>Learned Godot basics, collision layer/masks, and how physics properties work.</li>
                </Project>
            </Block>
        </div>
    </Block>

    <Block title="Overwatch Workshop" class="grid gap-4 md:grid-cols-2" headerColor="blue" collapsible={true}>
        <span class="col-span-full">
            All scripts were built with <a href="https://github.com/ItsDeltin/Overwatch-Script-To-Workshop" target="_blank">OSTW</a><br>
            Compiling requires my personal <a href="https://github.com/scorttt/macros-ostw" target="_blank">macros</a>, a collection of shorthand and quality-of-life functions to make OSTW development less of a hassle
        </span>
        <Project
            title="Yet Another Tryhard FFA"
            date="November 2020 - February 2026"
            links={[
                { url: 'https://github.com/scorttt/yatffa-ostw', icon: 'simple-icons:github', label: 'GitHub' },
                { url: 'https://workshop.codes/BKRXY', icon: 'lucide:wrench', label: 'workshop.codes' },
            ]}
        >
            Rebalanced FFA gamemode, intended for competitive players to include in their warm-up or practice regimen. 
            <li>Dynamic statistics</li>
            <li>In-game cursor menu to allow individual players to customize their experience</li>
            <li>Custom localizated strings with Japanese/Korean localization</li>
            <li>Slew of options via Workshop Settings for lobby host customization</li>
            <br>
            Colloquially known as 'YATFFA' and has been the preferred 'Tryhard FFA' gamemode for some competitive players.
            <br></br>
            Updates occur when new heroes are added to the game that I believe would fit well within the gamemode.
        </Project>
        <Project
            title="Instagib" 
            date="October 2020 - September 2025"
            links={[
                { url: 'https://github.com/scorttt/instagib-ostw', icon: 'simple-icons:github', label: 'GitHub' },
                { url: 'https://workshop.codes/APPPX', icon: 'lucide:wrench', label: 'workshop.codes - Oct 2020 ver.' },
            ]}
        >
            Fast paced Xonotic / Quake 3 Arena / UT2004 inspired one-shot-one-kill gamemode with a pickup centric gameplay loop.<br>
            A personal pet project that I've used to learn and practice vector math.
            <li>Pickups are scattered throughout the map to change how your weapon fires</li>
            <ul>
                <li>Pierce - Shots go through multiple surfaces</li>
                <li>Ricochet - Shots bounce off of surfaces</li>
                <li>Spread - Shots spread out in a cone pattern</li>
                <li>Spark - Explosive shots, with an explosive projectile that can be detonated early by shooting it for an increased radius</li>
                <li>Electro - Explosive shots, with a bouncing projectile that explodes shortly after hitting a surface</li>
                <li>Needle - Rapid fire homing shots</li>
                <li>Volt - Laser that decreases in accuracy and range the longer its fired</li>
                <li>Arc - One shot laser that bounces off of surfaces</li>
                <li>Ballista - Large radius explosive shot that ignores all surfaces</li>
            </ul>
            <li>Additionally, a large variety of movement options are always readily available</li>
            <ul>
                <li>Bunnyhopping for the potential to gain absurd speeds</li>
                <li>Knockback projectile for disorienting players or for mobility usage</li>
                <li>Fuel management for dodging and brief flight</li>
            </ul>
            <br>
            Eventually, I want to evolve this into it's own independent project, completely detached from Overwatch Workshop.
        </Project>
        <Project
            title="Molotov with Physics"
            date="April 2021"
            links={[
                { url: 'https://github.com/scorttt/workshop-scripts/blob/main/molotov.del', icon: 'simple-icons:github', label: 'GitHub' },
                { url: 'https://workshop.codes/PAVX2', icon: 'lucide:wrench', label: 'workshop.codes' },
            ]}
        >
            Proof of concept custom projectile that does not use the built-in 'Create Projectile' function introduced to Overwatch Workshop in late 2023, nor in-engine physics.
        </Project>
        <Project
            title="Waving Cube" 
            date="March 2023"
            links={[
                { url: 'https://github.com/scorttt/workshop-scripts/blob/main/waving.del', icon: 'simple-icons:github', label: 'GitHub' },
                { url: 'https://workshop.codes/C6GD9', icon: 'lucide:wrench', label: 'workshop.codes' },
            ]}
        >
            Simple waving cube visualization.
        </Project>
        <Project
            title="Swiss" 
            date="July 2023"
            links={[{ url: 'https://github.com/scorttt/swiss-ostw', icon: 'simple-icons:github', label: 'GitHub' }]}
        >
            Unfinished in-game bot replay editor with only the custom scrubbing timeline UI completed. Originally conceived to assist the Los Angeles Gladiators' social media team in creating short-form content, 
            prior to the firing of all creatives and eventual dissolution of the parent organization in October 2023.
        </Project>
        <Project
            title="Mimic" 
            date="February 2020 - February 2024"
            links={[{ url: 'https://github.com/scorttt/mimic-ostw', icon: 'simple-icons:github', label: 'GitHub' }]}
        >
            1v1, 2v2, or 3v3 mode where many bots spawn to fight by your side and mimics every action that you do. Bot amount changes dynamically based on the amount of human players in the game.
        </Project>
        <Project
            title="Miscellaneous Scripts" 
            date="2019 - 2023"
            links={[{ url: 'https://github.com/scorttt/workshop-scripts', icon: 'simple-icons:github', label: 'GitHub' }]}
        >
            Random variety of scripts that didn't end up being their own independent project for whatever reason, whether it be them evolving into larger projects, an experimental snippet, or just practice.
        </Project>
    </Block>

    <Block title="Mirror's Edge Catalyst Mods" class="grid gap-4 md:grid-cols-2" headerColor="blue" collapsible={true}>
        <span class="col-span-full">Requires <a href="https://github.com/CadeEvs/FrostyToolsuite/releases" target="_blank">Frosty Mod Manager</a></span>
        <Project
            title="No Naturally Spawning K-Sec" 
            date="February 2018"
            links={[{ url: 'https://www.nexusmods.com/mirrorsedgecatalyst/mods/93', icon: 'simple-icons:nexusmods', label: 'Nexus' }]}
        >
            Removes enemy patrols in freeroam. Required mod for 'All Dashes No TP (ADNTP)' speedruns.
        </Project>
        <Project
            title="Lighting Overhaul for Better Skies" 
            date="August 2017"
            links={[{ url: 'https://www.nexusmods.com/mirrorsedgecatalyst/mods/77', icon: 'simple-icons:nexusmods', label: 'Nexus' }]}
        >
            Drastically modifies world lighting, and allows moonlight to cast shadows.
        </Project>
        <Project
            title="Takedowns in Freeroam" 
            date="July 2017"
            links={[{ url: 'https://www.nexusmods.com/mirrorsedgecatalyst/mods/44', icon: 'simple-icons:nexusmods', label: 'Nexus' }]}
        >
            Allows takedown interactions in freeroam.
        </Project>
        <Project
            title="Repaired Buildings" 
            date="July 2017"
            links={[{ url: 'https://www.nexusmods.com/mirrorsedgecatalyst/mods/63', icon: 'simple-icons:nexusmods', label: 'Nexus' }]}
        >
            Repairs any story related buildings in freeroam if they're broken due to story progression.
        </Project>
        <Project
            title="No Dirty Walls"
            date="July 2017"
            links={[{ url: 'https://www.nexusmods.com/mirrorsedgecatalyst/mods/54', icon: 'simple-icons:nexusmods', label: 'Nexus' }]}
        >
            Removes dirty footprints, slide marks, dirt, and grime in the world.
        </Project>
        <Project
            title="No CC on Knockout"
            date="June 2017"
            links={[{ url: 'https://www.nexusmods.com/mirrorsedgecatalyst/mods/42', icon: 'simple-icons:nexusmods', label: 'Nexus' }]}
        >
            Removes color correction flash on enemy knockouts.
        </Project>
    </Block>

</Base>

<style>
    a {
        color: var(--accent-blue);
        font-weight: bold;
    }
    
    a:hover {
        text-decoration-line: underline;
    }
</style>
