---
import { Icon } from "astro-icon/components";

const { title, headerColor, collapsible = false, links = [], class: className } = Astro.props;

---

<div class="flex flex-col block-wrapper">
    <div class="block-header" data-headerColor={headerColor} data-collapsible={collapsible}>
        <div class="flex items-start justify-between w-full z-10">
            <div class="font-bold text-2xl flex items-center gap-1">
                {
                    collapsible == true && 
                    (
                        <button class="collapse-btn" aria-label="Toggle">
                            <Icon name="lucide:chevron-down" class="collapse-icon" />
                        </button>
                    )
                }
                <span>{title}</span>
            </div>

            <div class="flex items-center gap-2 link-icons">
                {
                    links.map((item: any) => (
                        <a
                            href={item.url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="icon-link"
                            data-tooltip={item.label}
                        >
                            <Icon
                                name={item.icon}
                                class="text-tertiary text-base"
                            />
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
    <div class={"flex flex-col gap-2 block-content " + className}>
        <slot />
    </div>
</div>

<script>
    document.addEventListener("astro:page-load", () => 
    {
        document.querySelectorAll(".collapse-btn").forEach((button) => 
        {
            button.addEventListener("click", () => 
            {
                const wrapper = button.closest(".block-wrapper");
                const content = wrapper?.querySelector(".block-content");
                const icon = button.querySelector(".collapse-icon");
                
                if (!content || !icon) 
                    return;
                
                const collapsed = content.classList.toggle("collapsed");
                (icon as HTMLElement).style.transform = collapsed ? "rotate(-90deg)" : "rotate(0deg)";
            });
        });
    });
</script>

<style>
    .block-wrapper {
        border-radius: var(--radius-default);
        box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.75);
    }
    .block-header {
        width: 100%;
        padding: 1em;
        background-color: var(--bg-secondary);
        box-shadow: 0rem -0.5rem 1rem 0.5rem rgba(30, 30, 30) inset;
        position: relative;
        border-top-left-radius: var(--radius-default);
        border-top-right-radius: var(--radius-default);
        border: 1px solid var(--border-color);
        border-bottom: none;
    }

    .link-icons a {
        padding: 0.5rem;
        transition: all 0.5s cubic-bezier(0.5, 1, 0, 1);
        border-radius: 99px;
        position: relative;
    }

    .link-icons a:hover {
        box-shadow: 0rem 0rem 1rem 0.5rem rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.15);
    }
    
    .link-icons a::after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: var(--bg-secondary);
        border: 1px solid var(--border-color);
        box-shadow: 0rem 0rem 1rem 0.5rem rgba(255, 255, 255, 0.1);
        padding: 0.25rem 0.5rem;
        border-radius: var(--radius-default);
        font-size: 0.75rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    
    .link-icons a:hover::after{
        opacity: 1;
    }
    
    .block-header[data-headerColor="blue"] {
        background-color: rgba(0, 98, 189, 0.5);
        box-shadow: var(--box-shadow-blue);
        border-top-left-radius: var(--radius-default);
        border-top-right-radius: var(--radius-default);
        border: 1px solid var(--box-shadow-blue);
        border-bottom: none;
    }
    
    .block-header[data-collapsible="true"] {
        transition: all 0.5s cubic-bezier(0.5, 3, 0, 1);
        z-index: 1;
    }
    
    .block-content {
        padding: 1em;
        background-color: var(--bg-secondary);
        box-shadow: 0rem -0.5rem 1rem 0.5rem rgba(30, 30, 30) inset;
        border-bottom-left-radius: var(--radius-default);
        border-bottom-right-radius: var(--radius-default);
        border: 1px solid var(--border-color);
        border-top: none;
        flex: 1;
        transition: all 0.5s cubic-bezier(0.5, 1, 0, 1);
        overflow: hidden;
        max-height: 2000px;
    }
    
    .p-0 {
        padding: 0;
    }
    
    .collapse-btn {
        padding-right: 0.3rem;
    }

    .collapse-icon {
        transition: all 0.5s cubic-bezier(0.5, 1, 0, 1);
    }
    
    .collapse-icon:hover {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 0rem 0rem 1rem 0.5rem rgba(255, 255, 255, 0.5);
        border-radius: 99px;
    }

    .block-content.collapsed {
        max-height: 0;
        opacity: 0;
        padding: 0;
    }
    
    .block-wrapper:has(.collapsed) .block-header[data-collapsible="true"] {
        border-radius: var(--radius-default);
    }

</style>
