---
import Block from "./Block.astro";
import { Icon } from "astro-icon/components";
const { title, date, description, link, links = [] } = Astro.props;
---

<Block title={title} link={link} links={links} class="p-0">
    <div class="flex flex-row w-full">
        <div class="flex flex-row items-center gap-1 text-tertiary font-bold px-4 py-2"  >
            <Icon name="lucide:calendar" class="project-icon" />
            <span>{date}</span>
        </div>
    </div>
    <span class="px-4 pb-4">{description}</span>
</Block>
<style>
    .project-icon {
        transform: translateY(-1px);
    }
</style>
